.filters {
	color: white;
	height: 70px;
	width: 100%;
	border: 1px solid;
	border-color: #DDDDDD;
	border-radius: 4px;
}
button {
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	font-size: 18px;
	background-color: #FF5A5F;
	border: none;
	border-radius: 4px;
	right: 30px;
	top: 10px;
	margin-top: 11px;
	float: right;
}
button:hover {
	opacity: 0.9;
}
h3 {
	font-weight: 600;
	color: #484848;
}
h4 {
	font-weight: 400;
	font-size: 14px;
	color: #484848;
}
.locations {
	width: 25%;
	border-right: 1px solid;
	border-right-color: #DDDDDD;
}
.amenities {
	width: 25%;
}
section div {
	display: inline-block;
}
.mytext {
	margin-left: 20px;
	width: 100%;
}
