.filters {
	height: 70px;
	width: 100%;
	border: 1px solid;
	border-color: #DDDDDD;
	border-radius: 4px;
}
button {
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	font-size: 18px;
	background-color: #FF5A5F;
	border: none;
	border-radius: 4px;
	right: 30px;
	top: 10px;
	margin-top: 11px;
	float: right;
}
button:hover {
	opacity: 0.9;
}
h3 {
	font-weight: 600;
	margin: 12px 0;
}
h4 {
	font-weight: 400;
	font-size: 14px;
	margin: 0 auto;
}
.locations {
	width: 25%;
	border-right: 1px solid #DDDDDD;
	float: left;
}
.locations .popover {
	margin-top: 12px;
}
.locations:hover .popover {
	display: block;
}
.amenities {
	width: 25%;
	float: left;
}
.amenities .popover {
	margin-top: 12px;
}
.amenities:hover .popover {
	display: block;
}
section div {
	display: inline-block;
}
.mytext {
	width: 100%;
}
.mytext h3 {
	margin-left: 20px;
}
.mytext h4 {
	margin-left: 20px;
}
.popover {
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	display: none;
	background-color: #FAFAFA;
}
.popover li {
	line-height: 25px;
	list-style-type: none;
	font-size: 16px;
}
.popover h2 {
	font-size: 16px;
	padding-left: 25px;
	margin-left: -14px;
}
.popover ul {
	display: block;
	list-style-type: none;
	margin-left: -14px;
}
